.App {
  text-align: center;
}
.app-container {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Otros estilos si es necesario */
}

.stilos {
  display: flex;
  flex-direction: row;
}
.ola {
  border: 50pc;
}
